<!DOCTYPE html>
<html>
<style>
table, th, td {
  text-align: center;
  border:1px solid wheat;
  border-radius: 10px;
}
h2 {text-align: center;}
pre {text-align: center;}
</style>
<body>

<h2>Spotify Premium Packages</h2>

<table style="width:100%">
  <tr>
    <th>Mini</th>
    <th>Individual</th>
    <th>Duo</th>
    <th>Family</th>
  </tr>
  <tr>
    <td>From RM 0.75/day</td>
    <td>RM 15.90/month</td>
    <td>RM 21.50/month</td>
    <td>RM 24.90/month</td>
  </tr>
  <tr>
    <td>1 Account</td>
    <td>1 Account</td>
    <td>2 Accounts</td>
    <td>Up to 6 Accounts</td>
  </tr>
  <tr>
    <td>Ad-free music listening</td>
    <td>Ad-free music listening</td>
    <td>Ad-free music listening, playing offline, on-demand playback</td>
    <td>Ad-free music listening, playing offline, on-demand playback</td>
  </tr>
</table>

<pre>*Listen without limits on your phone, speaker, and other devices.</pre>

</body>
</html>

