<style>
  h5 {text-align: center;}
  pre {text-align: center;}
</style>

<h5>What Spotify</h5>

<pre >Spotify is a digital music, podcast, and video service that gives you access to millions of songs and other content from creators all over
the world.

Basic functions such as playing music are totally free, but you can also choose to upgrade to Spotify Premium.

Whether you have Premium or not, you can:

-Get recommendations based on your taste
-Build collections of music and podcasts
-And more!

Spotify is available across a range of devices, including computers, phones, tablets, speakers, TVs, and cars, and you can easily transition from
one to another with Spotify Connect.
</pre>

<h5>Can you keep music from Spotify?</h5>

<pre>Spotify only gives access to music and podcasts through our apps. Our licensing means there's no way to export our content outside of the app.</pre>
